/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/* Import variables and common styles */
@import 'variables';
@import 'common';

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Layout */
body {
    background-color: $background-color;
    color: $primary-color;
    font-family: $font-family;
    line-height: 1.5;
}

/* Typography */
h1, h2, h3, p {
    margin-bottom: 1rem;
}

a {
    color: $primary-color;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}


/* App Container */
#app {
    background-color: $app-background-color;
    width: 100%;
    padding: 3rem 1rem;
}

.app-container {
    max-width: $content-max-width;
    margin: 0 auto;
}

/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    color: $primary-color;
    font-size: $font-size-small;
    margin-top: 1rem;

    a {
        color: $primary-color;
        text-decoration: underline;
        
        &:hover {
            opacity: $opacity-active;
        }
    }
    
    p {
        max-width: $content-max-width;
        margin: 0 auto 1rem;
    }
    
    img {
        max-width: 150px;
        margin-bottom: 1rem;
    }
}
