html {
    body {

        background-color: #181818;

        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

        p {
            margin: 10px 0;
        }

        #app {
            background-color: #49346A;
            width: 100%;
            margin: 0 auto;
            padding: 20px;

            color: white;
            font-family: 'Montserrat', sans-serif;
            box-sizing: border-box;

            .logo {
                width: 200px;
                margin-bottom: 20px;
            }

            h1 {
                font-size: 2em;
                margin: 20px 0;
            }

            textarea {
                width: 100%;
                max-width: 500px;
                height: 150px;
                margin-bottom: 20px;
                font-size: 1.2em;
                padding: 10px;
                font-family: "Courier New";
            }

            input {
                margin-left: 10px;
                width: 50px;
            }

            select {
                padding: 5px;
            }

            button {
                margin-top: 20px;
                padding: 10px 20px;
                cursor: pointer;
                background-color: #fff;
                color: #49346A;
                border: none;
                font-size: 1em;
            }

            button:hover {
                background-color: #ddd;
            }

            .display-password {
                display: block;
                font-size: 2em;
            }

            .generated-url {

                cursor: pointer;

                .password-link {
                    background-color: #fff;
                    display: block;
                    color: #333;
                    padding: 20px 20px;
                    margin: 20px 0;
                    font-family: "Courier New";
                    max-width: 1080px;
                    white-space: nowrap;
                    position: relative;

                    button {
                        margin: 0 0 0 10px;
                        position: absolute;
                        right: 0px;
                        top: 10px;
                        background-color: #fff;
                    }

                }
            }



            .copy-icon {
                background: none;
                border: none;
                cursor: pointer;
                margin-left: 8px;
                font-size: 1.2em;
                color: #49346A;

                &:focus {
                    outline: none;
                }

                i {
                    transition: color 0.3s;
                }

                i.fa-check {
                    color: green;
                }
            }

            .copy-success {
                color: green;
                margin-top: 8px;
            }

        }

        footer {
            padding: 40px;
            color: #fff;
            font-size: 14px;

            a {
                color: #fff;
            }
        }

    }
}
