html {
    body {

        background-color: #181818;

        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

        p {
            margin: 10px 0;
        }

        #app {
            background-color: #49346A;
            width: 100%;
            margin: 0 auto;
            padding: 20px;

            color: white;
            font-family: 'Source Sans Pro', sans-serif;
            box-sizing: border-box;

            .logo {
                width: 200px;
                margin-bottom: 20px;
            }

            h1 {
                font-size: 2em;
                margin: 20px 0;
            }

            textarea {
                width: 100%;
                max-width: 500px;
                height: 150px;
                margin-bottom: 20px;
                font-size: 1.2em;
                padding: 10px;
                font-family: "Courier New";
            }

            input {
                margin-left: 10px;
                width: 50px;
            }

            button {
                margin-top: 20px;
                padding: 10px 20px;
                cursor: pointer;
                background-color: #fff;
                color: #49346A;
                border: none;
                font-size: 1em;
            }

            button:hover {
                background-color: #ddd;
            }

            .display-password {
                display: block;
                font-size: 2em;
            }

        }

        footer {
            padding: 40px;
            color: #fff;
            font-size: 14px;

            a {
                color: #fff;
            }
        }

    }
}
